# You must create a file with the password for the ldap agent account
# This file must only contain the password, no whitespace or newlines
# Can be created using the follownig:
# echo -n agentPasswordHere > ldapAgentPassword ; chmod og-rwx ldapAgentPassword
#
# For the really security conscious, you should remove that from command line history
# Run history first, find the line number with the password, then history -d <num>
